.changetext::before {
    content: "for the culture";
    animation: 
    animated 25s linear infinite,
    opacity 5s linear infinite;
}
@keyframes animated {

    0% {
        content: "for the culture";
    }
  
    20% {
        content: "for the history";
    }
  
    40% {
        content: "for the future";
    }
  
    60% {
        content: "to innovate";
    }
  
    80% {
        content: "to empower";
    }
}
.changeimage {
    content: url("../public/images/about/Dessaline_transparent0030-min.png");
    animation: animatedimage 21s linear infinite,
            opacity2 7s linear infinite;
    height: 100%;
}

.changeimage::before {
    content: url("../public/images/about/Dessaline_transparent0030-min.png");
    height: 100%;
    animation: opacity 40s linear infinite;
}
@keyframes opacity {
    
        0% {
            opacity: 1;
        }

        25% {
            opacity: 1;
        }

        50% {
            opacity: 0.4;
        }

        75% {
            opacity: 1;
        }
    
        100% {
            opacity: 1;
        }
}
@keyframes opacity2 {
    
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
@keyframes animatedimage {

    0% {
        content: url("../public/images/about/Dessaline_transparent0030-min.png");
    }
  
    33.3% {
        content: url("../public/images/about/nef_alpha-min.png");
    }
  
    66.6% {
        content: url("../public/images/about/bass_2_no_background-min.png");
    }

}