.changetext::before {
    content: "for the culture";
    animation: animated 18s linear infinite;
}
@keyframes animated {

    0% {
        content: "for the culture";
    }
  
    20% {
        content: "for the history";
    }
  
    40% {
        content: "for the future";
    }
  
    60% {
        content: "to innovate";
    }
  
    80% {
        content: "to empower";
    }
}
.changeimage {
    content: url("../public/images/about/Dessaline_transparent0030-min.png");
    animation: animatedimage 20s linear infinite;
    height: 90%;
}

.changeimage::before {
    content: url("../public/images/about/Dessaline_transparent0030-min.png");
    height: 90%;
    animation: opacity 40s linear infinite;
}
@keyframes opacity {
    
        0% {
            opacity: 0;
        }
    
        50% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
}
@keyframes animatedimage {

    0% {
        content: url("../public/images/about/Dessaline_transparent0030-min.png");
    }
  
    50% {
        content: url("../public/images/about/nef_alpha-min.png");
    }
  
    100% {
        content: url("../public/images/about/bass_2_no_background-min.png");
    }

}