@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.roadmap-animation {
  min-width: 100vw;
  min-height: 630vh;
  max-height: 630vh;
  overflow: hidden;
  position: absolute;
  top: 0px;
  padding-top: 280px;
  background-color: #7134fe;
  z-index: -1;
}

@media (max-width: 800px) {
  .roadmap-animation {
    min-width: 400%;
    min-height: 140%;
    max-height: 140%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    padding-top: 280px;
    background-color: #7134fe;
    z-index: -1;
  }
}
