@tailwind base;
@tailwind components;
@tailwind utilities;

.roadmapBackground {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow: scroll;
}

.roadmap-animation {
  width: 100vw;
  min-height: 100%;
  max-height: 740vh;
  overflow: hidden;
  position: absolute;
  top: 0px;
  padding-top: 130px;
  background-color: #7134fe;
  z-index: -1;
}

.roadmap-section-title {
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
  margin-top: 100px;
}

.roadmap-section-title-smaller {
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
  margin-top: -80px;
}

.roadmap-sub-text {
  marign-bottom: 10px;
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.roadmap-section-text {
  margin-top: 88vh;
  /* margin-top: 70vh; */
  marign-bottom: 10px;
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.roadmap-section-list-text {
  margin: 10px 0px;
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.right-section {
  margin-right: 20%;
  margin-left: 50%;
  width: 30%;
}

.left-section {
  width: 30%;
  margin-left: 10%;
  margin-right: 60%;
}
