@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.parallax {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 150px;
  opacity: 0.1;
}

.roadmap-background {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow: scroll;
}

.roadmap-animation {
  width: 100vw;
  min-height: 100vh;
  max-height: 640vh;
  overflow: hidden;
  position: absolute;
  top: 0px;
  padding-top: 280px;
  background-color: #7134fe;
  z-index: -1;
}

.roadmap-pagnation {
  position: fixed;
  top: 44%;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap-pagnation-dot-active {
  background: #fec821 0% 0% no-repeat padding-box;
  border-radius: 100%;
  padding: 8px;
  margin: 6px 0px;
}

.roadmap-pagnation-dot-unactive {
  background: #fec821 0% 0% no-repeat padding-box;
  border-radius: 100%;
  padding: 3px;
  margin: 6px 0px;
}

.roadmap-page-title {
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
  margin-top: 90px;
  padding-top: 20px;
}

.roadmap-section-title {
  text-align: left;
  letter-spacing: 0.36px;
  color: #ffffff;
  margin-top: 85vh;
  padding-top: 20px;
  font: normal normal bold 60px/62px Korolev;
}

.roadmap-section-title-smaller {
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
  margin-top: -60px;
  padding-top: 20px;
}

.roadmap-sub-text {
  margin-left: 25%;
  max-width: 50vw;
  marign-bottom: 10px;
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.roadmap-section-text {
  margin-top: 86vh;
  marign-bottom: 10px;
  text-align: center;
  font: normal normal medium 18px/22px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.roadmap-section-list-text {
  margin: 14px 0px;
  text-align: left;
  font: normal normal bold 20px/19px Korolev;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.right-section {
  margin-right: 10%;
  margin-left: 55%;
  width: 35%;
}

.left-section {
  width: 30%;
  margin-left: 10%;
  margin-right: 60%;
}
